.buttonRemove {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: #b61818;
}

.buttonRemove:hover {
  background-color: #ff0000;
}

ul {
  padding: 0;
}

.listContact {
  display: flex;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 400px;
  justify-content: space-between;
  background-color: #14c463;
  align-items: center;
  color: white;
}